.discount {
  padding-top: 150px;
  padding-bottom: 150px;

  @media (max-width: 1450px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.discount__title {
  @include title;
  text-align: center;
  margin-bottom: 64px;

  @media (max-width: 1200px) {
    br {
      display: none;
    }
  }

  span {
    color: $red;
  }
}

.discount__content {
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: 1450px) {
    gap: 30px;
  }
}

.discount__img-box {
  @include max-width(710px);
  position: relative;

  &::before {
    content: url('/src/img/discount-leafs.png');
    position: absolute;
    left: -129px;
    top: 282px;

    @media (max-width: 1450px) {
      content: none;
    }
  }
}

.discount__img {
  width: 100%;
}

.discount__logo {
  position: absolute;
  left: -42px;
  top: -50px;

  @media (max-width: 767px) {
    left: -15px;
    top: -20px;
    width: 183px;
  }

  @media (max-width: 575px) {
    left: -15px;
    top: -20px;
    width: 112px;
  }
}

.discount__text-box {
  @include max-width(676px);

  @media (max-width: 1450px) {
    max-width: 100%;
  }
}

.discount__text {
  font-size: 30px;
  margin-bottom: 33px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    color: $red;
    font-weight: bold;
  }

  @media (max-width: 1450px) {
    br {
      display: none;
    }
  }

  @media (max-width: 575px) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
