.header {
  padding-top: 50px;

  @media (max-width: 575px) {
    padding-top: 10px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;

  @media (max-width: 575px) {
    gap: 10px;
  }
}

.header__logo {
  @media (max-width: 575px) {
    width: 125px;
  }
}

.header__text {
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 0;
  position: relative;
  left: -116px;

  &_thanks {
    left: 0px;
  }

  @media (max-width: 1300px) {
    left: 0px;
  }

  @media (max-width: 870px) {
    display: none;
  }
}

.header__contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone {
  margin-bottom: 4px;
  font-family: 'Museo';
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: $blue;
  text-decoration: none;

  @media (max-width: 575px) {
    font-size: 18px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $blue;
    text-decoration: underline;
  }
}

.header__callback {
  @include reset-btn;
  font-size: 18px;
  text-align: center;
  color: $blue;
  border-bottom: 1px solid transparent;

  @media (max-width: 575px) {
    font-size: 15px;
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px solid rgba(#b13d20, 0.5);
  }
}
