@import './lib/reboot.scss';
@import './lib/fonts.scss';
@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/global.scss';
@import './components/modal.scss';
@import './components/priv-policy.scss';
@import './components/button.scss';
@import './components/header.scss';
@import './components/footer.scss';

.thanks {
  padding-bottom: 92px;

  @media (max-width: 767px) {
    padding-bottom: 40px;
  }

  &__body {
    background-color: white;
    background-image: url('/src/img/bgs/desc-bg.png');
    overflow-x: hidden;
  }

  &__link {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.thanks__title {
  margin-top: 90px;
  @include title;
  margin-bottom: 44px;
  margin-left: 91px;

  @media (max-width: 991px) {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.thanks__content {
  margin-left: 91px;
  display: flex;
  align-items: center;
  gap: 51px;
  position: relative;

  &::after {
    position: absolute;
    top: -349px;
    right: -240px;
    z-index: -1;
    content: url('/src/img/thanks-leafs.png');

    @media (max-width: 1200px) {
      content: none;
    }
  }

  @media (max-width: 1360px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 991px) {
    margin-left: 0;
  }
}

.thanks__left-side {
  background-color: #e4f8d4;
  @include max-width(845px);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}

.thanks__text {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  font-family: 'Museo';
  margin-bottom: 0;
  text-transform: uppercase;

  @media (max-width: 767px) {
    br {
      display: none;
    }

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  @media (max-width: 575px) {
    font-size: 20px;
  }
}

.thanks__time-box {
  display: flex;
  align-items: center;
  background-color: #f6f9ff;
  border-top-right-radius: 50px;
  gap: 50px;

  @media (max-width: 991px) {
    gap: 25px;
  }
}

.thanks__time-img {
  @include max-width(386px);
  min-height: 309px;
  border-top-right-radius: 50px;
  @include bg;
  background-image: url('/src/img/thanks-image.png');

  @media (max-width: 575px) {
    display: none;
  }
}

.thanks__time-text-box {
  padding-top: 20px;
  padding-bottom: 20px;
  @include max-width(362px);

  @media (max-width: 575px) {
    padding: 20px;
  }
}

.thanks__time-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 30px;

  @media (max-width: 575px) {
    font-size: 16px;
  }

  &:first-child {
    @include max-width(340px);
  }

  &:last-child {
    margin-bottom: 0;
    @include max-width(362px);
  }

  span {
    font-weight: bold;
    text-transform: uppercase;
    color: $red;
  }
}

.thanks__note {
  font-family: 'Museo';
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 50px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.thanks__list {
  @include reset-list;
}

.thanks__item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;

  @media (max-width: 575px) {
    gap: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(1) .thanks__item-img {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  &:nth-child(2) .thanks__item-img {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/src/img/icons/thanks/2.png');
  }
  &:nth-child(3) .thanks__item-img {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/src/img/icons/thanks/3.png');
  }
}

.thanks__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 93px;
  background-color: $blue;
  border-radius: 50%;
}

.thanks__item-link {
  @include max-width(214px);
  font-size: 20px;
  line-height: 30px;
  color: black;

  @media (max-width: 575px) {
    width: 65%;
    max-width: 214px;
    font-size: 18px;
  }

  &:focus,
  &:active,
  &:hover {
    color: black;
    text-decoration: underline;
  }
}
